.burger-menu {
  font-size: 0;

  &__btn {
    font-size: 0;

    padding: 0;

    &:hover,
    &:focus {
      .burger-menu__icon {
        fill: var(--blue);
      }
    }
  }

  &__icon {
    width: rem(32);
    height: rem(32);
    fill: var(--purple);

    transition: fill 0.2s ease;
  }
}
