.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(47, 47, 47, 0.25);
  cursor: pointer;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transform: translateX(-200vw);
  opacity: 0;
  transition: opacity 0.2s linear, transform 0.3s 0.3s linear;

  @include phones {
    padding: 0 rem(20, 14);
  }

  &_open {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.2s linear, transform 0s linear;

    .modal__main {
      opacity: 1;
      transition: opacity 0.3s 0.25s linear;
    }
  }

  &__main {
    min-width: rem(590);
    background-color: var(--white);
    border-radius: rem(40);
    position: relative;
    opacity: 0;
    transition: opacity 0.4s 0.25s linear;

    padding: rem(48) rem(40);

    @include phones {
      min-width: rem(280, 14);
      border-radius: rem(24, 14);

      padding: rem(36, 14) rem(20, 14) rem(10, 14);
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: rem(22);
    color: var(--blue);
    @include fontSemibold;
    line-height: lh(22, 27);
    text-align: center;

    @include phones {
      font-size: rem(16, 14);
      line-height: lh(16, 20);
    }
  }

  &__text {
    font-size: rem(22);
    color: var(--blue);
    @include fontRegular;
    line-height: lh(22, 27);

    margin-top: rem(32);

    @include phones {
      font-size: rem(16, 14);
      line-height: lh(16, 24);

      margin-top: rem(22, 14);
    }
  }

  &__fieldset {
    display: flex;
    flex-direction: column;
    border: 0;

    &-radio {
      flex-direction: row;
      margin-top: rem(16);

      @include phones {
        font-size: rem(16, 14);
        line-height: lh(16, 20);

        margin: rem(8, 14) 0 0;
      }
    }

    &-input {
      margin-top: rem(32);

      @include phones {
        margin: rem(16, 14) 0 0;
      }
    }
  }

  &__label {
    display: flex;
    align-items: center;
    line-height: 1;
    cursor: pointer;
    font-size: rem(18);
    color: var(--blue);
    @include fontRegular;
    line-height: lh(18, 22);

    margin-left: rem(40);

    &:first-child {
      margin-left: 0;
    }
  }

  &__radio-span {
    position: relative;
    display: block;
    float: left;
    width: rem(24);
    height: rem(24);
    border: 1px solid var(--purple);
    border-radius: 50%;
    transition: all 0.25s ease-in-out;

    margin: 0 rem(12) 0 0;

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 8px;
      height: 8px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      transition: all 0.25s ease-in-out;
    }
  }

  &__input {
    font-size: rem(18);
    color: var(--blue);
    @include fontRegular;
    line-height: lh(18, 22);
    outline: none;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid var(--blue);

    padding: rem(9) 0;
    margin-top: rem(24);

    @include phones {
      font-size: rem(14, 14);
      line-height: lh(14, 17);

      padding: rem(4, 14) 0;
      margin: rem(14, 14) 0 0;
    }

    &:first-child {
      margin-top: 0;
    }

    &:hover,
    &:focus {
      border-bottom: 1px dashed var(--light-purple);

      &::placeholder {
        color: var(--blue);
      }
    }
  }

  &__btn {
    display: block;
    font-size: rem(22);
    color: var(--white);
    @include fontMedium;
    line-height: lh(22, 26);

    margin: rem(44) auto 0;
    padding: 0 rem(88);

    @include phones {
      width: rem(240, 14);
      font-size: rem(20, 14);
      line-height: lh(20, 24);

      padding: 0;
      margin: rem(30, 14) auto 0;
    }
  }

  &__close {
    position: absolute;
    right: 3%;
    top: 3%;

    @include phones {
      right: 1%;
      top: 1%;
    }
  }

  &__icon {
    width: rem(40);
    height: rem(40);
    fill: var(--blue);
  }
}

.modal__radio:checked + .modal__radio-span::after {
  background-color: var(--blue);
}
