.nav {
  &_active {
    transform: translateX(0);

    .nav__list {
      flex-direction: column;
    }

    .nav__item {
      margin: rem(24) 0 0;

      &:first-child {
        margin: 0;
      }
    }

    .nav__link {
      font-size: rem(24);
      color: var(--light-blue-200);
      @include fontRegular;
      line-height: lh(24, 29);
      margin: 0;
    }

    .nav__close {
      display: block;
      position: fixed;
      top: 5%;
      right: 12%;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    list-style: none;
    margin-left: rem(40);

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    font-size: rem(23);
    color: var(--text-color);
    @include fontMedium;
    line-height: lh(23, 28);
    position: relative;
    transition: color 0.2s linear;

    &:hover,
    &:focus {
      color: var(--light-purple);

      &::before,
      &::after {
        opacity: 1;
      }
    }

    &::after {
      content: "";
      height: rem(30);
      width: 2px;
      display: block;
      position: absolute;
      top: 10%;
      right: rem(-12);
      background-color: var(--light-purple);
      opacity: 0;
      transition: opacity 0.35s ease-in;
    }

    &::before {
      content: "";
      height: 2px;
      width: rem(30);
      display: block;
      position: absolute;
      top: 110%;
      right: rem(-12);
      background-color: var(--light-purple);
      opacity: 0;
      transition: opacity 0.35s ease-in;
    }
  }

  &__close {
    font-size: 0;
    display: none;

    padding: 0;

    &:hover,
    &:focus {
      .nav__icon {
        fill: var(--light-purple);
      }
    }
  }

  &__icon {
    width: rem(32);
    height: rem(32);
    fill: var(--light-blue-100);

    transition: fill 0.2s ease;
  }
}
