.slide {
  min-height: rem(600);
  display: flex;
  flex-direction: column;
  background-color: var(--blue);

  @include medium {
    min-height: rem(660);
  }

  @include tablets {
    min-height: rem(500);
  }

  @include phones {
    min-height: rem(400, 14);
    height: rem(400, 14);
    overflow: hidden;
    border-radius: rem(24, 14);
  }

  &__container {
    height: 100%;
    display: flex;
    flex-grow: 1;

    @include phones {
      flex-direction: column;
      overflow: hidden;

      padding: 0;
    }
  }

  &_connect {
    .slide__picture {
      max-width: rem(400);
      max-height: rem(494);
    }
  }

  &_plan {
    background: linear-gradient(45deg, #9fc2d5, #d7e1e3, #b3c1c4);

    .slide__btn {
      @include phones {
        margin-top: rem(110, 14);
      }
    }
  }

  &__info {
    width: 50%;

    margin-left: rem(10);

    @include phones {
      width: 100%;
      max-width: rem(280);

      padding: rem(32, 14) rem(20);
      margin-left: 0;
    }
  }

  &__title {
    font-size: rem(50);
    color: var(--light-blue-100);
    @include fontSemibold;
    line-height: lh(50, 60);

    margin-top: rem(105);

    &_dark {
      color: var(--blue);
    }

    @include tablets {
      font-size: rem(28, 14);
    }

    @include phones {
      font-size: rem(24, 14);
      line-height: lh(24, 29);

      margin: 0;
    }
  }

  &__text {
    max-width: rem(590);
    font-size: rem(30);
    color: var(--light-blue-200);
    @include fontMedium;
    line-height: lh(30, 37);

    margin-top: rem(24);

    @include tablets {
      font-size: rem(20, 14);
    }

    @include phones {
      font-size: rem(14, 14);
      line-height: lh(14, 17);
    }

    &_dark {
      color: var(--blue);
    }
  }

  &__btn {
    margin-top: rem(32);

    @include phones {
      font-size: rem(14, 14);
      line-height: lh(14, 17);

      margin-top: rem(20);
    }
  }

  &__photo {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    @include phones {
      width: 100%;
    }
  }

  &__picture {
    &_cat {
      margin: 0 0 rem(40) rem(20);

      @include phones {
        position: relative;
        top: -30px;
        left: 80px;
        margin: 0;
      }
    }

    &_dog {
      position: relative;
      top: 31px;
      left: -42px;
      transform: scale(1.1);

      @include phones {
        transform: scale(1);
        top: -240px;
        left: 76px;
      }
    }
  }

  &__price {
    font-size: rem(36);
    color: var(--blue);
    @include fontSemibold;
    line-height: lh(36, 44);

    margin-top: rem(24);

    @include phones {
      font-size: rem(18, 14);
      line-height: lh(18, 22);

      margin-top: rem(14, 14);
    }

    &-count {
      font-size: rem(42);
      line-height: lh(42, 52);

      @include phones {
        font-size: rem(22, 14);
      }
    }
  }
}
