// COLORS
:root {
  --text-color: #333333;
  --bg-color: #fff;
  --white: #fff;
  --black: #333333;

  --light-blue-100: #bee7e8;
  --light-blue-200: #a0d2db;
  --blue: #394573;

  --purple: #726da8;
  --light-purple: #a39ed6;
}

// BREAKPOINTS
// Устройства X-large от 1200 до 1400 (не включая)
$large: 1439.98px;

// Устройства Large от 992рх до 1200 (не включая) / small-desktop
$medium: 1199.98px;

// Устройства Medium от 576 до 992px (не включая)/ tablets
$tablets: 991.98px;

// Устройства X-Small от 320px до 576px (не включая) / mobile
$phones: 575.98px;
